<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CommServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <clear />
    <add key="AppName" value="XCOM PES" />
    <add key="Client.AddressPort"  value="165.168.1.123"/>
    <add key="Process.Name" value="OPC"/>
    <add key="Client.Rack" value="0"/>
    <add key="Client.Slot" value="2"/>
    <add key="OracleDependency.Port" value="8013"/>
    <add key="Process.Type" value="OPC"/> <!--OPC or LTEC-->
    <add key="Timer.TrackingMap" value="30000"/> <!-- timer value for reading of the tracking maps (sinosteel) -->
    <add key="Timer.TakeOverPoint" value="30000"/> <!-- timer value for reading of the takeoverpoint (sinosteel) -->
    <add key="Timer.LockStatus" value="5000"/> <!-- timer value for reading of the lock & status information (sinosteel) -->
    <add key="Timer.LTEC" value="1000"/> <!-- timer value for reading of the LTEC trigger information (LTEC) -->
    <add key="Timer.Watchdog" value="1000"/> <!-- timer value for updating the watchdog timer -->
    <add key="Max.Value.Watchdog" value="100"/> <!-- max value for the watchdog timer-->
    <add key="DB.Mode" value="DEP"/>
    <add key="SelectedTable.Dependency" value="TQ_OPC_S"/>
    <add key="SleepTimer.Thread" value="500"/> <!-- timer value for the second check of the read/write flags-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="oracle" connectionString="User Id=HT_CCM; Password=HT_CCM; Data Source=165.168.1.74:1521/HATINH; Connect Timeout=5; Connection Lifetime=0; Pooling=false" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>  